wikipedia-api~=0.5.4
pyttsx3==2.90
vosk==0.3.45
vosk-tts~=0.3.52
termcolor==1.1.0
sounddevice==0.4.6
soundfile==0.12.1
pyautogui==0.9.54
requests==2.31.0
numpy
audioplayer==0.6
python-dateutil~=2.6.0
gradio~=3.28.3
fsspec==2023.1.0
openai==0.28.0
magic-filter==1.0.12
PyAudio==0.2.14
torch==2.1.2
urllib3==2.1.0
keyboard==0.13.5
Pyrogram==2.0.106
fuzzywuzzy==0.18.0